.hero-container {
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }

  .hero-slider {
    display: flex;
    height: 100%;
  }
  
  .hero-slide {
    flex: 0 0 100%;
    transition: transform 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  
  .hero-slide.active {
    opacity: 1;
    visibility: visible;
  }
  
  
  .imagee {
    width: 70%;
    height: 70%;
    display:block;
    margin:auto;
    
  }